	
body {
  background: url("img/test.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
		
.container {
	margin-top: 50px;
		}
		 
.nav.navbar-nav.navbar-right li a {
    color: white;
	font-size: 18px;
	font-family: calibri;
	font-weight: bold;
}

.btn.btn-success.navbar-btn{
	margin-top:10px;
    margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 6px;
}

.navbar-left>img {	
  height: 100%;
  width: auto;
  margin: 10px;
}
	
footer {
        padding: 5px;
		margin-bottom: 10px;
		margin-top: 20px;
        background-color: lightgray;
        text-align: center;
        height: 25px;
		width: 100%;
		border-radius: 10px;
        }

