	
body {
  background: url("img/test2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	Font-family: calibri;
}


.widget-title {
color: #fff;
background: #35404f;
border-top: 8px solid #187520;
padding: 0.625em 15px;
}

.widget-subtitle {
color: #fff;
background: #35404f;
border-top: 8px solid darkgray;
padding: 0.625em 15px;
font-size:24px;
text-align:center;
}
		
.container{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	width: 97%;
		}

.topcontainer{
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom:20px;
	padding: 10px;
	width: 97%;
		}
		
.bannercontainer{
	margin-left: 15px;
	margin-right: 10px;
	width: 96%;
		}
		
.bannercontainer img {
	border-color: green;
		}
		
.container img {
	margin-top: 20px;
	margin-bottom: 20px;
	border-color: green;
		}
		
.container-fluid img {
	border-color: green;
		}
			 
.nav.navbar-nav.navbar-right li a {
    color: white;
	font-size: 18px;
	font-weight: bold;
}

.btn.btn-success.navbar-btn{
	margin-top:10px;
    margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 5px;
	padding: 6px;
}

.btn.btn-primary{
	padding: 4px;
	background-color: #35404f;
}

.navbar-left img {	
  height: 100%;
  width: auto;
  margin: 10px;
}

/*JQuery - SERVICES.HTML///////////////////*/



/*FOOTER START///////////////////*/

.footer {
    padding: 0px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}
.footer .title{text-align: left;color:#fff;font-size:25px; padding-top:50px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
	width: 220px;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    float: left;
    font-size: 25px;
    padding: 10px 10px;
}
	


